{% extends 'base.html.twig' %}

{% block title %}Sobre nosotros{% endblock %}

{% block body %}
    <header>
    <div class="container-fluid">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/about.jpg') }}" class="img-fluid" alt="Responsive image" width="120%" height="120%">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1><strong>Sistema Integrado de Quejas</strong></h1>
                            <p><strong>Se pretende tener un control detallado de las diferentes unidades de transporte público brindando una atención inmediata a través de la observación ciudadana para comprender al usuario, mejorando no solo las unidades sino el sistema de transporte público de la capital del Ecuador.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </header>




{% endblock %}
