{% extends 'base.html.twig' %}

{% block title %}Estaciones{% endblock %}

{% block body %}
    <header>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="{{ asset('images/marin.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marin</h5>
              <p class="card-text">Ubicada en pleno centro de Quito, es una estaciòn multimodal, con buses interparroquiales.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <img src="{{ asset('images/quitumbe.jpg') }}" class="img-fluid" alt="..." height="429px" width="768px">
            <div class="card-body">
              <h5 class="card-title">Quitumbe</h5>
              <p class="card-text">Estaciòn situada al sur de la capital, tambièn ofrece los servicios de buses interparroquiales e intercantonales.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="{{ asset('images/riococa.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rio Coca</h5>
              <p class="card-text">Se encuentra en el norte de Quito, tambièn ofrece varios servicios de transporte a nivel urbano y rural.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <img src="{{ asset('images/recreo.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Recreo</h5>
              <p class="card-text">Conecta los distintos servicios dentro de la ciudad como son el trole, el ecovìa y los corredores.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

    
    </header>

{% endblock %}
