{% extends 'base.html.twig' %}

{% block title %}New Unidad{% endblock %}

{% block body %}
    <h1>Create new Unidad</h1>

    {{ include('unidad/_form.html.twig') }}

    <a href="{{ path('unidad_index') }}">back to list</a>
{% endblock %}
